<% client_patients = client_patients.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :client_patients %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, client_patients = pagy(client_patients, page_param: :client_patients_page) unless pagy %>

<%= action_model_select_controller do %>
  <% updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless client_patients.any?}") %>
        <%= render "shared/limits/index", model: client_patients.model %>
      <% end %>

      <% box.table do %>
        <% if client_patients.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.first_name.heading') %></th>
                <th><%= t('.fields.last_name.heading') %></th>
                <th><%= t('.fields.middle_name.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% client_patients.each do |client_patient| %>
                <%= render 'account/client_patients/client_patient', client_patient: client_patient %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, ClientPatient.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :client_patient], class: "#{first_button_primary(:client_patient)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:client_patient)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
